
<div class="row">
    <h2 class="header">Contatos</h2>
    
    <ul class="collection">
        <li class="collection-item" ng-repeat="contato in contatos">
            <a ng-click="excluir()" class="secondary-content"><i class="mdi-action-delete"></i></a>
            <a class="collections-title" ng-href="#/painel/contato/{{contato.id}}">{{contato.nome}}</a>
            <p class="collections-content">{{contato.telefone}}</p>
            <p class="collections-content" ng-show="{{contato.email}}">{{contato.email}}</p>
            <p class="collections-content" ng-show="{{contato.site}}">{{contato.site}}</p>
        </li>
    </ul>
    
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="#/painel/contato">
            <i class="large mdi-content-add"></i>
        </a>
    </div>
</div>
