
<div class="row">
    <h2 class="header" ng-hide="denuncia.id">Nova denúncia</h2>
    <h2 class="header" ng-show="denuncia.id">Editar denúncia</h2>
</div>

<div class="row">
    <div class="col s12">
        <p class="grey-text">Informe uma localização</p>
        <div id="mapa" style="max-height: 250px"></div>
    </div>
</div>

<div class="row">
    <form class="col s12" ng-submit="salvar()" name="formDenuncia">

        <div class="row">
            <div class="input-field col s12">
                <input type="hidden" ng-model="denuncia.latitude" />
                <input type="hidden" ng-model="denuncia.longitude" />
                <input id="localizacao" type="text" readonly ng-model="denuncia.localizacao" />
                <label for="localizacao">Localização</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="titulo" type="text" required ng-model="denuncia.titulo" />
                <label for="titulo">Título</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <select id="classificacao" required ng-model="denuncia.classificacao.id" ng-options="item.id as item.nome for item in classificacoes">
                    <option value="" disabled>Selecione uma classificação</option>
                </select>
                <label for="classificacao">Classificação</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <textarea id="descricao" class="materialize-textarea" required ng-model="denuncia.descricao"></textarea>
                <label for="descricao">Descrição</label>
            </div>
        </div>

        <div class="row">
            <div class="file-field input-field">
                <input class="file-path validate" type="text" ng-model="denuncia.imagem.nome" />
                <div class="btn">
                    <span>Imagem</span>
                    <input type="file" accept="image/*" ng-file="denuncia.imagem" />
                </div>
            </div>
        </div>

        <div class="row" ng-show="denuncia.imagem.url">
            <div class="col s12 m6 l4">
                <div class="thumbnail">
                    <img class="responsive-img materialboxed" ng-src="{{denuncia.imagem.url}}" />
                </div>
            </div>
        </div>

        <button class="btn-large waves-effect waves-light col s12 m3 l3" type="submit">Registrar</button>
    </form>
</div>
