
<div class="row">
    <h2 class="header" ng-hide="usuario.id">Novo usuário</h2>
    <h2 class="header" ng-show="usuario.id">Editar usuário</h2>
</div>

<div class="row">
    <form class="col s12" ng-submit="salvar()" name="formUsuario">
        <div class="row">
            <div class="input-field col s12">
                <input id="nome" type="text" required ng-model="usuario.nome" />
                <label for="nome">Nome</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" required ng-model="usuario.email" />
                <label for="email">Email</label>
            </div>
        </div>
        
        <button class="btn-large waves-effect waves-light col s12 m3 l3" type="submit">Registrar</button>
    </form>
</div>
